<form #formDocente="ngForm" (ngSubmit)="onSubmit(); formDocente.reset();">
  <div class="container">
    <p>Completa los campos para crear un docente</p>
    <hr>
    <label for="codigo"><b>Código</b></label><br />
    <input type="number" placeholder="Ingresar código" name="codigo" #codigo="ngModel" required [(ngModel)]="this.docente.codigo">
    <br />

    <label for="nombre"><b>Nombre completo</b></label><br />
    <input type="text" placeholder="Ingresar nombre" name="nombre" #nombre="ngModel" required [(ngModel)]="this.docente.nombre">
    <br />

    <label for="direccion"><b>Dirección</b></label><br />
    <input type="text" placeholder="Ingresar dirección" name="direccion" #direccion="ngModel" [(ngModel)]="this.docente.direccion">
    <br />

    <label for="telefono"><b>Teléfono</b></label><br />
    <input type="number" placeholder="Ingresar teléfono" name="telefono" #telefono="ngModel" required [(ngModel)]="this.docente.telefono">
    <br />

    <label for="correo"><b>Correo</b></label><br />
    <input type="text" placeholder="Ingresar correo" name="correo" #correo="ngModel" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
      [(ngModel)]="this.docente.correo">
    <br />

    <hr>

    <input type="submit" class="createbtn" [disabled]="!formDocente.form.valid" value="Crear" onclick="alert('Docente creado correctamente!')"/>
  </div>
</form>