<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form style="max-width:40%;margin: 15% 35%;" #formUser="ngForm" (ngSubmit)="onSubmit(); ">
  <!--h2>Login</h2-->
  <div class="container">
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input type="text" name="username" #username="ngModel" [(ngModel)]="un" class="input-field" placeholder="Usuario"
        required>
    </div>
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" #password="ngModel" [(ngModel)]="pass" placeholder="Contraseña" name="password"
        required>
    </div>
    <span *ngIf="password.touched && username.touched && this.userFail">
      <b class="fail">El usuario no existe.</b>
    </span>
    <span *ngIf="password.touched && username.touched && this.passFail">
        <b class="fail">Contraseña incorrecta!</b>
    </span>
    <span *ngIf="password.touched && username.touched && this.userDesFail">
        <b class="fail">Usuario deshabilitado.</b>
    </span>
    <input type="submit" value="Iniciar Sesión" class="btn" [disabled]="!formUser.form.valid" />
  </div>
</form>