<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form #formBusqueda="ngForm" (ngSubmit)="onSubmit();formBusqueda.reset();">
  <div class="container">
    <h1>Búsqueda</h1>
    <p>Completa los campos para realizar una búsqueda</p>
    <hr>

    <br/>

  
    <label><b>Alumno: </b></label>
    <select name="alumno" #alumno="ngModel" [(ngModel)]="this.busqueda.alumno" required>
      <option disabled value="">Seleccione-Alumno</option>
      <option *ngFor="let a of alumnos" value="{{a.codigo}}">{{a.nombre}}</option>
      <option value="todos">Todos</option>
    </select>

    <select style="float: right;" name="tutores" #tutores="ngModel" [(ngModel)]="this.busqueda.tutor" required>
      <option disabled value="">Seleccione-Docente</option>
      <option *ngFor="let d of docentes" value="{{d._id}}">{{d.nombre}}</option>
      <option value="todos">Todos</option>
    </select>
    <label for="tutor" style="float: right; margin-top: 15px;"><b>Tutor: </b></label>
   
    <br/>

    <label><b>Semestre: </b></label>
    <input type="text" placeholder="Ej: II-2018" style="width:20%" name="semestre" #semestre="ngModel" [(ngModel)]="this.busqueda.semestre">

    <select style="float: right" name="revisores" #revisores="ngModel" [(ngModel)]="this.busqueda.revisor" required>
      <option disabled value="">Seleccione-Docente</option>
      <option *ngFor="let d of docentes" value="{{d._id}}">{{d.nombre}}</option>
      <option value="todos">Todos</option>
    </select>
    <label style="float: right; margin-top: 15px;" for="revisor"><b>Revisor: </b></label>

    <br />

    <label for="estado"><b>Estado: </b></label>
    <select name="estados" #estados="ngModel" [(ngModel)]="this.busqueda.estado" required>
      <option disabled value="">Seleccione-Estado</option>
      <option value="En Elaboración">En Elaboración</option>
      <option value="Observado">Observado</option>
      <option value="Graduado">Graduado</option>
      <option value="En Defensa Externa">En Defensa Externa</option>
      <option value="Diferida">Diferida</option>
      <option value="En Defensa Interna">En Defensa Interna</option>
      <option value="Con Revisor">Con Revisor</option>
      
      <option value="todos"> Todos</option>
    </select>

    <select style="float: right" name="prorroga" #prorroga="ngModel" [(ngModel)]="this.busqueda.prorroga" required> 
      <option disabled value="">Seleccione-Opción</option>
      <option value="true">Con Prórroga</option>
      <option value="false">Sin Prórroga</option>
      <option value="todos">Todos</option>
    </select>
    <label style="float: right; margin-top: 15px;" for="prorroga"><b>Prórroga: </b></label>

    <br>
  
    <label for="modalidad"><b>Modalidad: </b></label>
    <select name=modalidad #modalidad="ngModel" [(ngModel)]="this.busqueda.modalidad" required>
      <option disabled value="">Seleccione-Modalidad</option>
      <option value="excelencia">Excelencia</option>
      <option value="artefacto-sistema">Proyecto de Grado - Creación Artefacto/Sistema</option>
      <option value="inversion-existente">Proyecto de Grado - Mejora de la Inversión Existente</option>
      <option value="prefactibilidad">Proyecto de Grado - Prefactibilidad</option>
      <option value="tesis">Tesis</option>
      <option value="trabajo-dirigido">Trabajo Dirigido</option>
      <option value="todos">Todos</option>
    </select>

    <br />
    
    <input type="submit" class="createbtn" [disabled]="!formBusqueda.form.valid" value="Buscar"/>

    <span *ngIf="conBusqueda">
      
      <div style="overflow-x:auto;">
        <table>
          <tr>
            <th>Alumno</th>
            <th>Código</th>
            <th>Semestre</th>
            <th>Modalidad</th>
            <th>Tema</th>
            <th>Estado</th>
            <th>Tutor</th>
            <th>Revisor</th>
            <th>Prórroga</th>
          </tr>
          <tr *ngFor="let alt of data_altas; let i=index">
            <td style="width: 15%">{{this.data_alumnos[i].nombre}}</td>
            <td>{{this.data_alumnos[i].codigo}}</td>
            <td>{{alt.semestre}}</td>
            <td>{{alt.modalidad.mod}}</td>
            <td>{{alt.tema}}</td>
            <td>{{alt.estado.est}}</td>
            <td style="width: 15%">{{this.data_tutores[i].nombre}}</td>
            <td style="width: 15%">{{this.data_revisores[i].nombre}}</td>
            <td>{{alt.prorroga}}</td>
          </tr>
        </table>
      </div>
      

    </span>

  </div>

</form>
<br/>