
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 5%;
  margin: 5% 10%;
  background-color: white;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin-right: 10%;
}

/* Set a style for the submit button */
.createbtn {
  background-color: #0400ff;
  color: white;
  padding: 16px 20px;
  margin-left: 65%;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.createbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}


.valor {
  color: #555; 
  font-style: italic;
  margin-left: 20px;
}

.icon {
  padding: 10px;
  background: #0400ff;
  color: white;
  min-width: 50px;
  text-align: center;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/* Style table headers and table data */
th, td {
  text-align: center;
  padding: 16px;
  border: 1px solid #ddd;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #f2f2f2
}
