<div>
  <div class="header">
    <div class="topnav">
      <!-- Right-aligned links -->
      <div class="topnav-right" *ngIf="_logger.isLoged()">
        <div *ngIf="!this._logger.getRole();" class="buttonNot" (click)="showHideNotifications()">
          <span class="notification_count">{{nNotif}}</span>
          <img src="../assets/res/gato-asustado.png" class="img">
        </div>
        <div *ngIf="this._logger.getRole();" class="buttonNot">
            <img src="../assets/res/feo.png" class="img">
        </div>
        <div class="buttonMenu" (click)="showHideMenu()">
          <img src="../assets/res/menu-icon.png" class="icono">
        </div>

      </div>
      <!-- Centered link -->
      <div class="topnav-centered">
        <div class="titulo">{{pagetitle}}</div>
      </div>
      <!-- Left-aligned links (default) -->
      <div *ngIf="!this._logger.getRole();" routerLink="/home" class="logo-container">
        <img src="../assets/res/logo2.png" class="logo" height="70%" width="90%">
      </div>
      <div *ngIf="this._logger.getRole();" routerLink="/admin" class="logo-container">
        <img src=" ../assets/res/logo2.png" class="logo" height="70%" width="90%">
      </div>
    </div>
    <!--div  id="notification_li" style="background-color: inherit">

   <a href="#" id="notificationLink">Not</a-->


    <div *ngIf="notifications" id="notificationContainer">
      <div id="notificationTitle">NOTIFICACIONES</div>
      <div id="notificationsBody" class="notifications">
        <div *ngFor="let not of this.notificaciones" style="border-bottom: 1px solid #bbb; padding: 5px">
          <div *ngIf="not.visto" (click)="verNotificacion(not, not.codigo)">
            <p class="nombreNot">[{{not.codigo}}] {{not.nombre}}</p>
            <p class="asuntoNot">{{not.asunto}} ({{not.fecha_asunto | date: 'dd/MM/yyyy'}})</p>
            <label class="fechaNot">{{not.fecha_publicacion | date: 'dd/MM/yyyy'}}</label>
            <br />
          </div>
          <div *ngIf="!not.visto" style="background-color: #eee" (click)="verNotificacion(not, not.codigo)">
            <p class="nombreNot">[{{not.codigo}}] {{not.nombre}}</p>
            <p class="asuntoNot">{{not.asunto}} ({{not.fecha_asunto | date: 'dd/MM/yyyy'}})</p>
            <label class="fechaNot">{{not.fecha_publicacion | date: 'dd/MM/yyyy'}}</label>
            <br />
          </div>
        </div>

      </div>
      <div id="notificationFooter"></div>
    </div>


    <div *ngIf="menu" class="vertical-menu" id="vertical-menuBody">
      <p *ngIf="!this._logger.getRole()" class="menu" style="border-bottom: 1px solid #dddddd"
        [routerLink]="[ '/editar-perfil', _logger.getUsername()]" (click)="showHideMenu();">Editar Perfil</p>
      <p class="menu" (click)="logout(); showHideMenu();" routerLink="/">Cerrar Sesión</p>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

</div>