body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  z-index: 1000;
}

.main {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url('../assets/res/backgroundcat.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  /*background-image: url('../assets/res/backgroundcat.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;*/
}


.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
  height: 100%;
}


.topnav .icono {
  border-radius: 30%;
  width: 60%;
  height: 60%;
}

.topnav .img{
  border-radius: 30%;
  width: 60%;
  height: 55%;
}

.buttonMenu {
  background-color: #333;
  padding-top: 15%;
  border: none;
  float: right;
  height: 100%;
  width: 100%;
  grid-area: menu;
  text-align: center;
}

.buttonNot {
  padding-top: 15%;
  height: 100%;
  width: 100%;
  grid-area: notif;
  text-align: right;
}

.topnav-right {
  float: right;
  height: 98%;
  width: 20%;
  display: grid;
  grid-template: 'notif menu'
}


.topnav .titulo {
  float: none;
  color: #f2f2f2;
  margin: 1%;
  text-align: center;
  vertical-align: center;
  text-decoration: blue;
  font-size: 250%;
  font-weight: bold;
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 40%
}


.logo {
  vertical-align: center;
  align-content: center;
  margin: 8% 20%;
}

.logo-container {
  width: 15%;
  height: 100%;
  vertical-align: center;
  align-content: center;
}


.vertical-menu {
  border: 1px solid rgba(100, 100, 100, .4);
  overflow: visible;
  position: absolute;
  margin-top: -30px;
  margin-left: 88%;
  z-index: 1000;
}


#vertical-menuBody {
  /*min-height: 100px;*/
  overflow: auto;
  font-weight: bold;
  font-size: 15px;
  background-color: #ffffff;
  position: fixed;
  width: 8%;
  padding: 5px 5px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

#vertical-menuBody p:hover {
  background-color: #ccc;
} 

.menu {
  margin: 0;
  padding: 10px 5px;
}

#notification_li {
  position: relative;
}

#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  /*-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);*/
  overflow: visible;
  position: absolute;
  margin-top: -30px;
  margin-left: 68%;
  width: 20%;
  /*max-height: 60%;*/
  padding: 5px;
  cursor: default;
  z-index: 1000;
}


#notificationTitle {
  font-weight: bold;
  padding: 12px;
  font-size: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

#notificationsBody {
  padding: 15px 0px 0px 0px !important;
  min-height: 100px;
  overflow: auto;
  max-height: 400px;
  background-color: #ffffff;
}

#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

.notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5.5%;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  /* margin-top: 25px; */
  font-size: 16px;
}

.nombreNot {
  font-weight: bold;
  /*font-size: 14px;*/
}

.asuntoNot {
  font-weight: bold;
  font-style: italic;
  /*font-size: 13px;*/
}

.fechaNot {
  float: right;
  color: #999;
  /*font-size: 11px;*/
}



/* Responsive navigation menu (for mobile devices) */

@media screen and (max-width: 600px) {
  .topnav {
    float: none;
    display: block;
  }
  .topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 50%
  }    
  .topnav .titulo {
    float: none;
    color: #f2f2f2;
    margin: 1%;
    text-align: center;
    vertical-align: center;
    text-decoration: blue;
    font-size: 130%;
    font-weight: bold;
  }

  .logo-container {
    width: 15%;
    height: 100%;
    vertical-align: center;
    align-content: center;
  }  
  .logo {
    vertical-align: center;
    align-content: center;
    margin: 30% 20%;
    height: 45%;
  }
      

  .topnav .icono {
    border-radius: 30%;
    width: 55%;
    height: 50%;
  }
  
  .topnav .img{
    border-radius: 30%;
    width: 55%;
    height: 45%;
  }
  
  .buttonMenu {
    background-color: #333;
    padding-top: 55%;
    border: none;
    float: right;
    height: 100%;
    width: 100%;
    grid-area: menu;
    text-align: center;
  }
  
  .buttonNot {
    padding-top: 55%;
    height: 100%;
    width: 100%;
    grid-area: notif;
    text-align: right;
  }

  .notification_count {
    padding: 1px 5px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 4%;
    border-radius: 40%;
    position: absolute;
    font-size: 10px;
  }
  
  .topnav-right {
    float: right;
    height: 98%;
    width: 20%;
    display: grid;
    grid-template: 'notif menu'
  }

  .vertical-menu {
    border: 1px solid rgba(100, 100, 100, .4);
    overflow: visible;
    position: absolute;
    margin-top: -43px;
    margin-left: 80%;
    z-index: 1000;
  }

  #vertical-menuBody {
    /*min-height: 100px;*/
    overflow: auto;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    width: 13%;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
  }    
  
  .menu {
    margin: 0;
    padding: 5px 2px;
  }
  

  #notification_li {
    position: relative;
  }
  
  #notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    overflow: visible;
    position: absolute;
    margin-top: -43px;
    margin-left: 53%;
    width: 33%;
    padding: 5px;
    cursor: default;
    z-index: 1000;
  }
  
  
  #notificationTitle {
    font-weight: bold;
    padding: 7px;
    font-size: 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
  }
  
  #notificationsBody {
    padding: 8px 0px 0px 0px !important;
    min-height: 100px;
    overflow: auto;
    max-height: 400px;
    background-color: #ffffff;
  }
  
  #notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 8px;
    border-top: 1px solid #dddddd;
  }

  .nombreNot {
    font-weight: bold;
    font-size: 12px;
  }
  
  .asuntoNot {
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
  }
  
  .fechaNot {
    float: right;
    color: #999;
    font-size: 8px;
  }
  
  p {
    margin: 2px;
  }

}

