<div>
  <div class="header">
    <div class="topnav">
      <!-- Centered link -->
      <div class="topnav-centered">
        <a class="titulo">{{pagetitle}}</a>
      </div>
      <!-- Left-aligned links (default) -->
      <div *ngIf="!this._logger.getRole();">
        <a id="logo-container" routerLink="/home">
          <img src="../assets/res/logo2.png" class="logo" height="65" width="200">
        </a>
      </div>
      <div *ngIf="this._logger.getRole();">
        <a id="logo-container" routerLink="/admin">
          <img src="../assets/res/logo2.png" class="logo" height="65" width="200">
        </a>
      </div>
      <!-- Right-aligned links -->
      <div class="topnav-right" *ngIf="_logger.isLoged()">
        <span *ngIf="!this._logger.getRole();" id="notification_count">{{nNotif}}</span>
        <img *ngIf="!this._logger.getRole();" src="../assets/res/gato-asustado.png" class="icono" height="60" width="75"
          (click)="showHideNotifications()">
        <button class="button" (click)="showHideMenu()">
          <img src="../assets/res/menu-icon.png" class="icono" height="65" width="75">
        </button>

      </div>
    </div>
    <!--div  id="notification_li" style="background-color: inherit">

   <a href="#" id="notificationLink">Not</a-->


    <div *ngIf="notifications" id="notificationContainer">
      <div id="notificationTitle">NOTIFICACIONES</div>
      <div id="notificationsBody" class="notifications">
        <div *ngFor="let not of this.notificaciones" style="border-bottom: 1px solid #bbb; padding: 5px">
          <div *ngIf="not.visto" (click)="verNotificacion(not, not.codigo)">
            <p style="font-weight: bold">({{not.codigo}}) {{not.nombre}}</p>
            <p style="font-weight: bold; font-style: italic">{{not.asunto}} ({{not.fecha_asunto | date: 'dd/MM/yyyy'}})</p>
            <label class="fechaNot">{{not.fecha_publicacion | date: 'dd/MM/yyyy'}}</label>
            <br />
          </div>
          <div *ngIf="!not.visto" style="background-color: #eee" (click)="verNotificacion(not, not.codigo)">
            <p style="font-weight: bold">({{not.codigo}}) {{not.nombre}}</p>
            <p style="font-weight: bold; font-style: italic">{{not.asunto}} ({{not.fecha_asunto | date: 'dd/MM/yyyy'}})</p>
            <label class="fechaNot">{{not.fecha_publicacion | date: 'dd/MM/yyyy'}}</label>
            <br />
          </div>
        </div>

      </div>
      <div id="notificationFooter"></div>
    </div>


    <div *ngIf="menu" class="vertical-menu" id="vertical-menuBody">
      <p *ngIf="!this._logger.getRole()" class="menu" style="border-bottom: 1px solid #dddddd; padding: 10px 5px;"
        [routerLink]="[ '/editar-perfil', _logger.getUsername()]" (click)="showHideMenu();">Editar Perfil</p>
      <p class="menu" style="padding: 10px 5px;" (click)="logout(); showHideMenu();" routerLink="/">Cerrar Sesión</p>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>

</div>