<div style="background-color: #CAC9F1;">
  <div class="topnav">
    <!-- Centered link -->
    <div class="topnav-centered">
      <a class="titulo">{{pagetitle}}</a>
    </div>
    <!-- Left-aligned links (default) -->
    <a id="logo-container" routerLink="/">
      <img src="../assets/res/logo.png" class="logo" height="65" width="200">
    </a>
    <!-- Right-aligned links -->
    <div class="topnav-right">
      <span id="notification_count">3</span>
      <img *ngIf="_logger.isLoged()" src="../assets/res/gato-asustado.png" class="icono" height="60" width="75" (click)="showHideNotifications()">
      <button *ngIf="_logger.isLoged()" class="button" (click)="showHideMenu()">
        <img src="../assets/res/menu-icon.png" class="icono" height="65" width="75">
      </button>

    </div>
  </div>
  <!--div  id="notification_li" style="background-color: inherit">
    
    <a href="#" id="notificationLink">Not</a-->


  <div *ngIf="notifications" id="notificationContainer">
    <div id="notificationTitle">NOTIFICACIONES</div>
    <div id="notificationsBody" class="notifications">
      <div style="border-bottom: 1px solid #dddddd; padding: 5px">
        <p style="font-weight: bold">Nombre 1</p>
        <p style="font-weight: bold; font-style: italic">Asunto 1</p>
        <label class="fechaNot">Fecha 1</label>
        <br />
      </div>

      <div style="border-bottom: 1px solid #dddddd; padding: 5px">
        <!--label class="nombreNot">Nombre 1</label>
            <label class="asuntoNot">Asunto 1</label-->
        <p style="font-weight: bold">Nombre 2</p>
        <p style="font-weight: bold; font-style: italic">Asunto 2</p>
        <label class="fechaNot">Fecha 2</label>
        <br />

      </div>

    </div>
    <div id="notificationFooter"><a href="#">See All</a></div>
  </div>

  <!--/div-->

  <div *ngIf="menu" class="vertical-menu" style="padding-left:92%;background-color: white;">
    <input type="button" value="Editar Perfil" class="button" [routerLink]="[ '/editar-perfil', _logger.getUsername()]"
      (click)="showHideMenu();" />
    <br />
    <input type="button" value="Ver Docentes" class="button" [routerLink]="[ '/docentes']" (click)="showHideMenu();" />
    <br />
    <input type="button" value="Actualizar Alumno" class="button" [routerLink]="[ '/actualizar-alumno', 2]" (click)="showHideMenu();" />
    <br />
    <input type="button" value="Logout" class="button" (click)="logout(); showHideMenu();" routerLink="/" />
  </div>
  <!--div *ngIf="menu" class="vertical-menu" style="padding-left:92%;background-color: white;">
      <a type="button" [routerLink]="[ '/editar-perfil', _logger.getUsername()]">Editar Perfil</a>
      <a type="button" [routerLink]="[ '/docentes']">Ver Docentes</a>
      <a type="button" [routerLink]="[ '/actualizar-alumno', 32240]">Actualizar Alumno</a>
      <a type="button" (click)="logout(); showHideMenu();" routerLink="/">Logout</a>
  </div-->

  <router-outlet></router-outlet>
</div>