body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #333;
  border: none
}

.button:hover {
  background-attachment: #fff;
}

.button:focus {
  outline: 0;
  /*background-color: #0400ff;*/
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.topnav .icono {
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30%;
}

.topnav a:hover {
  background-color: #333;
  color: #f2f2f2;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .titulo {
  float: none;
  color: #f2f2f2;
  text-align: center;
  vertical-align: center;
  padding: 14px 16px;
  text-decoration: blue;
  font-size: 40px;
  font-weight: bold;
}

.topnav .logo {
  padding-left: 30px;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.vertical-menu {
  border: 1px solid rgba(100, 100, 100, .4);
  overflow: visible;
  position: absolute;
  margin-top: -10px;
  margin-left: 88%;
  width: 9%;
  z-index: 1000;
}

.vertical-menu input {
  /*float: right;*/
  background-color: #eee;
  color: black;
  padding: 12px;
  text-decoration: none;
  min-width: 100px;
}

.vertical-menu input:hover {
  /*float: right;*/
  background-color: green;
}

.vertical-menu input:active {
  /*float: right;*/
  background-color: #0400ff;
  color: white;
}

.vertical-menu input:focus {
  outline: 0;
}

#vertical-menuBody {
  /*min-height: 100px;*/
  overflow: auto;
  font-weight: bold;
  font-size: 15px;
  background-color: #ffffff;
  position: fixed;
  width: 8%;
  padding: 5px 5px;
  cursor: default;
  border-bottom: 1px solid #dddddd;
}

#vertical-menuBody p:hover {
  background-color: #ccc;
} 

.menu {
  margin: 0;
}

#notification_li {
  position: relative;
}

#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  /*-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);*/
  overflow: visible;
  position: absolute;
  margin-top: -20px;
  margin-left: 70%;
  width: 20%;
  max-height: 60%;
  padding: 5px;
  cursor: default;
  z-index: 1000;
/*display: none; */
  /*Enable this after jquery implementation*/
}

/*Popup Arrow
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}*/

#notificationTitle {
  font-weight: bold;
  padding: 12px;
  font-size: 15px;
  background-color: #ffffff;
  position: fixed;
  /*z-index: 1000;*/
  width: 18%;
  border-bottom: 1px solid #dddddd;
}

#notificationsBody {
  padding: 33px 0px 0px 0px !important;
  min-height: 100px;
  overflow: auto;
  max-height: 400px;
}

#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

#notification_count {
  padding: 3px 7px 3px 7px;
  background: #cc0000;
  color: #cc0000;
  /*color: #ffffff;*/
  font-weight: bold;
  margin-left: 65px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  position: absolute;
  margin-top: 25px;
  font-size: 16px;
}

.nombreNot {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.asuntoNot {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
}

.fechaNot {
  float: right;
  color: #999;
}



