<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form >
  <div class="container">
    <h1>Alumno</h1>
    <p>Completa los campos para crear un alumno</p>
    <hr>

    <label for="nombre"><b>Nombre: </b></label>
    <input type="text" placeholder="Ingresar nombre completo" style="width:70%" name="nombre" required>

    <label name="estado" class="estado"><b>En Elaboración</b></label><br/>

    <label for="codigo"><b>Código: </b></label>
    <input type="number" placeholder="Ingresar código" style="width: 11%" name="codigo" required><br/>

    <label for="semestre"><b>Alta: </b></label>
    <select>
        <option value="0">Seleccione-Semestre</option>
        <option value="1">I-2015</option>
        <option value="2">II-2015</option>
        <option value="3">I-2016</option>
        <option value="4">II-2016</option>
        <option value="5">I-2017</option>
        <option value="6">II-2018</option>
        <option value="7">I-2019</option>
        <option value="8">II-2019</option>
        <option value="9">I-2020</option>
        <option value="10">II-2020</option>
        <option value="11">I-2021</option>
        <option value="12">II-2021</option>
    </select>
  
    <input id="formdate" type="date" style="margin-left: 5%" required>

    <label for="plazo" class="plazo"><b>2019-01-31</b></label>
    <label for="plazolbl" style="float: right; margin-top: 30px; padding: 10px;"><b>Plazo:  </b></label>
    <br/>
    
    <label for="modalidad"><b>Modalidad: </b></label>
    <select>
      <option value="">Seleccione-Modalidad</option>
      <option value="excelencia">Excelencia</option>
      <option value="artefacto-sistema">Proyecto de Grado - Creación Artefacto/Sistema</option>
      <option value="inversion-existente">Proyecto de Grado - Mejora de la Inversión Existente</option>
      <option value="prefactibilidad">Proyecto de Grado - Prefactibilidad</option>
      <option value="tesis">Tesis</option>
      <option value="trabajo-dirigido">Trabajo Dirigido</option>
    </select>

    <label for="prorroga" class="prorroga"><b>Prórroga</b></label>
    <input type="checkbox" style="float:right; margin-right: 5px;" id="myCheck" onclick="">
    <br/>

    <label for="tema"><b>Tema: </b></label>
    <input type="text" placeholder="Ingresar tema" style="width: 50%" name="tema">

    <label for="coincTema" style="float:right; margin-right: 50px; background-color: darkcyan"><b>N</b></label>    
    <form class="busqueda" style="float: right; margin-right: 10px">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br/>
    
    
    <label for="empresa"><b>Empresa</b></label>
    <input type="text" placeholder="Ingresar Empresa" name="empresa">
    
    <label for="fecha-suf"><b>Fecha suficiencia</b></label>
    <input id="fecha-suf" type="date">


    <hr>

    <label for="tutor"><b>Tutor</b></label>
    <select name="tutores">
      <option value="">Seleccione-Docente</option>
      <option value="doc1">Docente 1</option>
      <option value="doc2">Docente 2</option>
    </select>
    <label for="coincTutor"><b>N</b></label>
    
    <label for="fecha_asig-t"><b>Fecha asignación</b></label>
    <input id="fecha-asig-t" type="date">
    
    <button name="carta-t">Carta</button>

    <label for="fecha-suf-t"><b>Fecha suficiencia</b></label>
    <input id="fecha-suf-t" type="date">
    

    <i class="fa fa-credit-card icon"><br/>Ya no paga!</i>

    <hr>


    <label for="revisor"><b>Tutor</b></label>
    <select name="revisores">
      <option value="">Seleccione-Docente</option>
      <option value="doc1">Docente 1</option>
      <option value="doc2">Docente 2</option>
    </select>
    <label for="coincRevisor"><b>N</b></label>
    
    <label for="fecha_asig-r"><b>Fecha asignación</b></label>
    <input id="fecha-asig-r" type="date">
    
    <button name="carta-r">Carta</button>

    <label for="fecha-suf-r"><b>Fecha suficiencia</b></label>
    <input id="fecha-suf-r" type="date">
    

    <hr>

    <label for="defensa-interna"><b>Defensa Interna</b></label>
    <input id="fecha-def-interna" type="date">
    
    <label class="container_rb">Aprobado
      <input type="radio" name="radio">
      <!--checked="checked"--> 
      <span class="checkmark_rb"></span>
    </label>
    <label class="container_rb">Reprobado
      <input type="radio" name="radio">
      <span class="checkmark_rb"></span>
    </label>
    <label class="container_rb">Diferido
      <input type="radio" name="radio">
      <span class="checkmark_rb"></span>
    </label>
    

    <label for="comentario"><b>Comentario</b></label>
    <input type="text" placeholder="Insertar comentario" name="comentario">
    
  
    <hr>

    <label for="defensa-externa"><b>Defensa Externa</b></label>
    <input id="fecha-def-externa" type="date">
   
    <div name="tribunal">
        <label for="presidente"><b>Presidente</b></label>
        <input type="text" placeholder="Introducir Presidente" name="presidente">

        <label for="eval1"><b>Evaluador Interno 1</b></label>
        <select name="eval1">
            <option value="">Seleccione-Docente</option>
            <option value="revisor">Revisor</option>
            <option value="doc1">Docente 1</option>
            <option value="doc2">Docente 2</option>
        </select>

        <label for="eval2"><b>Evaluador Interno 2</b></label>
        <select name="eval2">
            <option value="">Seleccione-Docente</option>
            <option value="doc1">Docente 1</option>
            <option value="doc2">Docente 2</option>
        </select>
        <input type="otro-eval2" placeholder="Introducir Evaluador 2" name="otro-eval2">    

    </div>

    <label class="container_rb">Aprobado
      <input type="radio" name="radio2">
      <!--checked="checked"--> 
      <span class="checkmark_rb"></span>
    </label>
    <label class="container_rb">Reprobado
      <input type="radio" name="radio2">
      <span class="checkmark_rb"></span>
    </label>


    <hr>

    <label for="observaciones"><b>Observaciones</b></label>
    <input type="text" placeholder="Insertar observaciones" name="observaciones">
  
    <hr>

    <button>Ver Perfil Histórico</button>
   
    <input type="submit" class="createbtn" [disabled]="!formDocente.form.valid" value="Crear" />
  </div>
  
</form>
