<div>
  <button class="button" style="position: relative; margin-left: 25%; margin-top: 5%" routerLink="/crear-alumno">Crear
    Alumno</button>
  <button class="button" style="position: relative; margin-left: 25%; margin-top: 5%" routerLink="/crear-docente">Crear
    Docente</button>
  <button class="button" style="position: relative; margin-left: 25%; margin-top: 10%" routerLink="/alumnos">Ver
    Alumnos</button>
  <button class="button" style="position: relative; margin-left: 25%; margin-top: 10%" routerLink="/docentes">Ver
    Docentes</button>
  <button class="button" style="position: relative; margin-left: 46%; margin-top: 8%" routerLink="/buscar">Buscar</button>
</div>
