<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form #formNuevaAltaAlumno="ngForm" (ngSubmit)="onSubmit();formNuevaAltaAlumno.reset();">
  <div class="container">
    <h1>Alumno</h1>
    <p>Completa los campos para crear una nueva alta</p>
    <hr>

    <label><b>Nombre: </b></label>
    <label style="color: #555; font-style: italic; padding: 5% 2%"><b>{{this.alumno.nombre}}</b></label><br /><br />

    <label><b>Código: </b></label>
    <label style="color: #555; font-style: italic; padding: 5% 2%"><b>{{lastCodigo}}</b></label><br /><br />


    <label><b>Alta: </b></label>
    <select name="semestre" #semestre="ngModel" [(ngModel)]="this.alta_materia.semestre" required>
      <option disabled value="">Seleccione-Semestre</option>
      <option value="I-2015">I-2015</option>
      <option value="II-2015">II-2015</option>
      <option value="I-2016">I-2016</option>
      <option value="II-2016">II-2016</option>
      <option value="I-2017">I-2017</option>
      <option value="II-2017">II-2017</option>
      <option value="I-2018">I-2018</option>
      <option value="II-2018">II-2018</option>
      <option value="I-2019">I-2019</option>
      <option value="II-2019">II-2019</option>
      <option value="I-2020">I-2020</option>
      <option value="II-2020">II-2020</option>
      <option value="I-2021">I-2021</option>
      <option value="II-2021">II-2021</option>
      <option value="I-2022">I-2022</option>
      <option value="II-2022">II-2022</option>
      <option value="I-2023">I-2023</option>
      <option value="II-2023">II-2023</option>
      <option value="I-2024">I-2024</option>
      <option value="II-2024">II-2024</option>
      <option value="I-2025">I-2025</option>
      <option value="II-2025">II-2025</option>
      <option value="I-2026">I-2026</option>
      <option value="II-2026">II-2026</option>
      <option value="I-2027">I-2027</option>
      <option value="II-2027">II-2027</option>
      <option value="I-2028">I-2028</option>
      <option value="II-2028">II-2028</option>
      <option value="I-2029">I-2029</option>
      <option value="II-2029">II-2029</option>
      <option value="I-2030">I-2030</option>
      <option value="II-2030">II-2030</option>
    </select>

    <input id="formdate" type="date" style="margin-left: 5%" required name="fecha_alta" #fecha_alta="ngModel"
      [(ngModel)]="this.alta_materia.fecha">

    <label for="prorroga" class="prorroga"><b>Prórroga</b></label>
    <input type="checkbox" style="float:right; margin-right: 5px; margin-top:22px;" id="myCheck" onclick="" name="prorroga"
      #prorroga="ngModel" [(ngModel)]="this.alta_materia.prorroga">

    <br />

    <label for="modalidad"><b>Modalidad: </b></label>
    <select name=modalidad #modalidad="ngModel" [(ngModel)]="this.alta_materia.modalidad.mod">
      <!--select name=modalidad #modalidad="ngModel" [(ngModel)]="mod"-->
      <option value="">Seleccione-Modalidad</option>
      <option value="Excelencia">Excelencia</option>
      <option value="Proyecto de Grado - Creación Artefacto/Sistema">Proyecto de Grado - Creación Artefacto/Sistema</option>
      <option value="Proyecto de Grado - Mejora de la Inversión Existente">Proyecto de Grado - Mejora de la Inversión
        Existente</option>
      <option value="Proyecto de Grado - Prefactibilidad">Proyecto de Grado - Prefactibilidad</option>
      <option value="Tesis">Tesis</option>
      <option value="Trabajo Dirigido">Trabajo Dirigido</option>
    </select>

    <br />

    <label for="tema"><b>Tema: </b></label>
    <input type="text" placeholder="Ingresar tema" style="width: 50%" name="tema" #tema="ngModel" [(ngModel)]="this.alta_materia.tema">

    <label for="coincTema" class="setbtn" style="float:right;margin-right: 70px;" onclick="document.getElementById('id01').style.display='block'"><b>{{this.nTema}}</b></label>
    <form class="busqueda" style="float: right; margin-right: 2px; margin-top: 10px;">
      <input type="text" placeholder="Search.." name="search" #search='ngModel' [(ngModel)]="temaToSearch">
      <button type="submit" (click)="searchTema(temaToSearch)"><i class="fa fa-search"></i></button>
    </form>
    <br />

    <!-- The Modal -->
    <div id="id01" class="modal" style="z-index: 10;">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

      <!-- Modal Content -->
      <form class="modal-content animate">
        <div style="padding:5%">
          <h3>TEMAS:</h3>
          <table>
            <tr style="background-color: #777; color: white">
              <th>Nombre Alumno</th>
              <th>Semestre</th>
              <th>Modalidad</th>
              <th>Tema</th>
              <th>Estado</th>
              <th>Tutor</th>
              <th>Revisor</th>
            </tr>
            <tr *ngFor="let alt of altas_by_tema; let i=index">
              <td style="width: 15%">{{this.alumnos_by_tema[i].nombre}}</td>
              <td>{{alt.semestre}}</td>
              <td>{{alt.modalidad.mod}}</td>
              <td>{{alt.tema}}</td>
              <td>{{alt.estado.est}}</td>
              <td>{{this.tutores_by_tema[i].nombre}}</td>
              <td>{{this.revisores_by_tema[i].nombre}}</td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('id01');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
          console.log('mensaje')
        }
      }
    </script>



    <label *ngIf="this.alta_materia.modalidad.mod==='Trabajo Dirigido'" for="empresa"><b>Empresa: </b></label>
    <!--label *ngIf=mod==='trabajo-dirigido'" for="empresa"><b>Empresa: </b></label-->
    <input *ngIf="this.alta_materia.modalidad.mod==='Trabajo Dirigido'" type="text" placeholder="Ingresar Empresa"
      style="width: 50%" name="empresa" #empresa="ngModel" [(ngModel)]="this.alta_materia.modalidad.trabDirig.empresa">

    <input *ngIf="this.alta_materia.modalidad.mod==='Trabajo Dirigido'" id="fecha-suf" type="date" style="float:right;margin-right:50px"
      name="fecha_suf" #fecha_suf="ngModel" [(ngModel)]="this.alta_materia.modalidad.trabDirig.fecha_suficiencia">
    <label *ngIf="this.alta_materia.modalidad.mod==='Trabajo Dirigido'" for="fecha-suf" style="float:right;margin-top: 10px; padding: 10px;"><b>Fecha
        suficiencia: </b></label>
    <br />

    <hr>

    <label for="tutor"><b>Tutor: </b></label>
    <select name="tutores" #tutores="ngModel" [(ngModel)]="this.alta_materia.tutor.doc" (change)="calcularAlumnosEnDocente(alta_materia.tutor.doc, 'T')">
      <option value="">Seleccione-Docente</option>
      <option *ngFor="let d of docentes" value="{{d._id}}">{{d.nombre}}</option>
    </select>
    <label for="coincTutor" class="setbtn" style="margin-left: 10px;" onclick="document.getElementById('id02').style.display='block'"
      style="cursor: pointer"><b>{{alumDoc}}</b></label>

    <!-- The Modal -->
    <div id="id02" class="modal" style="z-index: 10;">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

      <!-- Modal Content -->
      <form class="modal-content animate">
        <div style="padding:5%">
          <h3>{{this.my_data_tutor.nombre}}</h3>
          <table>
            <tr style="background-color: #777; color: white">
              <th>T/R</th>
              <th>Nombre Alumno</th>
              <th>Código</th>
              <th>Semestre</th>
              <th>Tema</th>
              <th>Fecha Carta de Asignación</th>
              <th>Fecha Carta de Suficiencia</th>
              <th>Estado</th>
            </tr>
            <tr *ngFor="let alt of this.data_busq_altT; let i=index">
              <td>{{this.cargosT[i]}}</td>
              <td style="width: 15%">{{this.data_busq_alumT[i].nombre}}</td>
              <td>{{this.data_busq_alumT[i].codigo}}</td>
              <td>{{alt.semestre}}</td>
              <td>{{alt.tema}}</td>
              <td *ngIf="this.cargosT[i]==='Tutor'">{{alt.tutor.fecha_asignacion | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosT[i]==='Revisor'">{{alt.revisor.fecha_asignacion | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosT[i]==='Tutor'">{{alt.tutor.fecha_suficiencia | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosT[i]==='Revisor'">{{alt.revisor.fecha_suficiencia | date: 'dd/MM/yyyy'}}</td>
              <td>{{alt.estado.est}}</td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('id02');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
          console.log('mensaje')
        }
      }
    </script>



    <!--button name="carta-t" style="float: right; margin-right: 80px;margin-left: 40px; margin-top: 20px;" disabled>Carta</button-->
    <input id="fecha-asig-t" type="date" style="float:right; margin-top: 10px; padding: 10px; margin-right: 60px" name="fecha_asig_t"
      #fecha_asig_t="ngModel" [(ngModel)]="this.alta_materia.tutor.fecha_asignacion">
    <label for="fecha_asig-t" style="float:right; margin-top: 10px; padding: 10px;"><b>Fecha asignación: </b></label>
    <br />
    <br />

    <input id="fecha-suf-t" type="date" style="float: right; margin-top: 10px; padding: 10px; margin-right: 60px;" name="fecha_suf_t"
      #fecha_suf_t="ngModel" [(ngModel)]="this.alta_materia.tutor.fecha_suficiencia">
    <label for="fecha-suf-t" style="float: right; margin-top: 10px; padding: 10px;"><b>Fecha suficiencia: </b></label>

    <br />
    <br />
    <br />
    <br />

    <hr>

    <label for="revisor"><b>Revisor: </b></label>
    <select name="revisores" #revisores="ngModel" [(ngModel)]="this.alta_materia.revisor.doc" (change)="calcularAlumnosEnDocente(alta_materia.revisor.doc,'R')">
      <option value="">Seleccione-Docente</option>
      <option *ngFor="let d of docentes" value="{{d._id}}">{{d.nombre}}</option>
    </select>

    <label for="coincRevisor" class="setbtn" style="margin-left: 10px;" onclick="document.getElementById('id03').style.display='block'"
      style="cursor: pointer"><b>{{alumDocR}}</b></label>
    <!-- The Modal -->
    <div id="id03" class="modal" style="z-index: 10;">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>

      <!-- Modal Content -->
      <form class="modal-content animate">
        <div style="padding:5%">
          <h3>{{this.my_data_revisor.nombre}}</h3>
          <table>
            <tr style="background-color: #777; color: white">
              <th>T/R</th>
              <th>Nombre Alumno</th>
              <th>Código</th>
              <th>Semestre</th>
              <th>Tema</th>
              <th>Fecha Carta de Asignación</th>
              <th>Fecha Carta de Suficiencia</th>
              <th>Estado</th>
            </tr>
            <tr *ngFor="let alt of this.data_busq_altR; let i=index">
              <td>{{this.cargosR[i]}}</td>
              <td style="width: 15%">{{this.data_busq_alumR[i].nombre}}</td>
              <td>{{this.data_busq_alumR[i].codigo}}</td>
              <td>{{alt.semestre}}</td>
              <td>{{alt.tema}}</td>
              <td *ngIf="this.cargosR[i]==='Tutor'">{{alt.tutor.fecha_asignacion | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosR[i]==='Revisor'">{{alt.revisor.fecha_asignacion | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosR[i]==='Tutor'">{{alt.tutor.fecha_suficiencia | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="this.cargosR[i]==='Revisor'">{{alt.revisor.fecha_suficiencia | date: 'dd/MM/yyyy'}}</td>
              <td>{{alt.estado.est}}</td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById('id03');

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
          console.log('mensaje')
        }
      }
    </script>



    <!--button name="carta-r" style="float: right; margin-right: 80px;margin-left: 40px; margin-top: 20px;" disabled>Carta</button-->

    <input id="fecha-asig-r" type="date" style="float:right; margin-top: 10px; padding: 10px; margin-right: 60px" name="fecha_asig_r"
      #fecha_asig_r="ngModel" [(ngModel)]="this.alta_materia.revisor.fecha_asignacion">
    <label for="fecha_asig-r" style="float:right; margin-top: 10px; padding: 10px;"><b>Fecha asignación: </b></label>
    <br />
    <br />

    <input id="fecha-suf-r" type="date" style="float: right; margin-top: 10px; padding: 10px; margin-right: 60px;" name="fecha_suf_r"
      #fecha_suf_r="ngModel" [(ngModel)]="this.alta_materia.revisor.fecha_suficiencia">
    <label for="fecha-suf-r" style="float: right; margin-top: 10px; padding: 10px;"><b>Fecha suficiencia: </b></label>

    <br />
    <br />
    <br />
    <br />

    <hr>

    <label for="defensa-interna"><b>Defensa Interna: </b></label>
    <input id="fecha-def-interna" type="date" name="fecha_def_interna" #fecha_def_interna="ngModel" [(ngModel)]="this.alta_materia.defensa_interna.fecha">

    <div style="float:right; margin-right: 50px;">
      <label for="comentario" style="margin-right: 40px;"><b>Comentario: </b></label><br />
      <input type="text" placeholder="Insertar comentario" style="height: 40px; padding: 10px;" name="comentario_def_interna"
        #comentario_def_interna="ngModel" [(ngModel)]="this.alta_materia.defensa_interna.observacion">
    </div>
    <div style="float:right; margin-right: 100px;">
      <label class="container_rb">Aprobado
        <input type="radio" value="Aprobado" name="radio" #radio="ngModel" [(ngModel)]="this.alta_materia.defensa_interna.resultado">
        <!--checked="checked"-->
        <span class="checkmark_rb"></span>
      </label>
      <label class="container_rb">Reprobado
        <input type="radio" value="Reprobado" name="radio" #radio="ngModel" [(ngModel)]="this.alta_materia.defensa_interna.resultado">
        <span class="checkmark_rb"></span>
      </label>
      <label class="container_rb">Diferido
        <input type="radio" value="Diferido" name="radio" #radio="ngModel" [(ngModel)]="this.alta_materia.defensa_interna.resultado">
        <span class="checkmark_rb"></span>
      </label>
    </div>
    <br /><br />


    <hr>

    <label for="defensa-externa"><b>Defensa Externa: </b></label>
    <input id="fecha-def-externa" type="date" name="fecha_def_externa" #fecha_def_externa="ngModel" [(ngModel)]="this.alta_materia.defensa_externa.fecha">

    <div name="tribunal" style="float:right; margin-right: 50px">
      <label for="tribunal"><b>TRIBUNAL</b></label><br /><br />
      <label for="presidente" style="height: 20px; margin-bottom: 0; margin-left: 20px;"><b>Presidente: </b></label>
      <input type="text" placeholder="Introducir Presidente" name="presidente" style="height: 20px; margin-bottom: 0"
        #presidente="ngModel" [(ngModel)]="this.alta_materia.defensa_externa.presidente"><br />
      <label for="eval1" style="height: 20px; margin-left: 20px;"><b>Evaluador Interno 1: </b></label>
      <select name="eval1" class="eval" #eval1='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador1">
        <option value="">Seleccione-Docente</option>
        <option *ngFor="let d of docentes" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select>

      <!--select *ngIf="this.my_data_alta.defensa_externa.evaluador1 === '' && this.my_data_alta.defensa_externa.fecha === null && this.idRevisor !== null"
        name="eval1" class="eval" #eval1='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador1">
        <option value="">Seleccione-Docente</option>
        <option value="this.alta_materia.revisor.nombre">{{this.alta_materia.revisor.nombre}}</option>
        <option disabled value="">-----------------------------------------------</option>
        <option *ngFor="let d of docentes" [attr.hidden]="this.idRevisor === d._id ? true : null" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select>
      <select *ngIf="this.my_data_alta.defensa_externa.evaluador1 === '' && this.my_data_alta.defensa_externa.fecha !== null && this.idRevisor !== null"
        name="eval1" class="eval" #eval1='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador1">
        <option selected value="this.alta_materia.revisor.nombre">{{this.alta_materia.revisor.nombre}}</option>
        <option disabled value="">-----------------------------------------------</option>
        <option *ngFor="let d of docentes" [attr.hidden]="this.idRevisor === d._id ? true : null" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select-->
      <input *ngIf="this.alta_materia.defensa_externa.evaluador1 === 'Otro'" type="text" placeholder="Introducir Evaluador 1"
        name="otroeval1" style="height: 25px; margin-left: 10px; margin-top: 0;" #otroeval1="ngModel" [(ngModel)]="this.otroEval1">
      <br />

      <label for="eval2" style="height: 20px; margin-left: 20px;"><b>Evaluador Interno 2: </b></label>
      <select name="eval2" class="eval" #eval2='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador2">
        <option value="">Seleccione-Docente</option>
        <option *ngFor="let d of docentes" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select>

      <!--select *ngIf="this.my_data_alta.defensa_externa.evaluador2 === '' && this.my_data_alta.defensa_externa.fecha === null && this.idRevisor !== null"
        name="eval2" class="eval" #eval2='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador2">
        <option value="">Seleccione-Docente</option>
        <option value="this.alta_materia.revisor.nombre">{{this.alta_materia.revisor.nombre}}</option>
        <option disabled value="">-----------------------------------------------</option>
        <option *ngFor="let d of docentes" [attr.hidden]="this.idRevisor === d._id ? true : null" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select>
      <select *ngIf="this.my_data_alta.defensa_externa.evaluador2 === '' && this.my_data_alta.defensa_externa.fecha !== null && this.idRevisor !== null"
        name="eval2" class="eval" #eval2='ngModel' [(ngModel)]="this.alta_materia.defensa_externa.evaluador2">
        <option selected value="this.alta_materia.revisor.nombre">{{this.alta_materia.revisor.nombre}}</option>
        <option disabled value="">-----------------------------------------------</option>
        <option *ngFor="let d of docentes" [attr.hidden]="this.idRevisor === d._id ? true : null" value="{{d.nombre}}">{{d.nombre}}</option>
        <option value="Otro">Otro</option>
      </select-->
      <input *ngIf="this.alta_materia.defensa_externa.evaluador2 === 'Otro'" type="text" placeholder="Introducir Evaluador 2"
        name="otroeval2" style="height: 25px; margin-left: 10px; margin-top: 0;" #otroeval2="ngModel" [(ngModel)]="this.otroEval2">
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />

    <div style="float:right; margin-right: 280px;">
      <label class="container_rb">Aprobado
        <input type="radio" value="Aprobado" name="radio2" #radio2="ngModel" [(ngModel)]="this.alta_materia.defensa_externa.resultado">
        <!--checked="checked"-->
        <span class="checkmark_rb"></span>
      </label>
      <label class="container_rb">Reprobado
        <input type="radio" value="Reprobado" name="radio2" #radio2="ngModel" [(ngModel)]="this.alta_materia.defensa_externa.resultado">
        <span class="checkmark_rb"></span>
      </label>
    </div>
    <br /><br /><br /><br /><br />


    <hr>

    <label for="observaciones"><b>Observaciones: </b></label>
    <input type="text" placeholder="Insertar observaciones" name="observaciones" style="height:100px; width: 60%;"
      #observaciones="ngModel" [(ngModel)]="this.alta_materia.observaciones">
    <br />
    <hr>

    <!--button>Ver Perfil Histórico</button-->

    <input type="submit" class="createbtn" [disabled]="!formNuevaAltaAlumno.form.valid" value="Añadir Alta" onclick="alert('Alta añadida correctamente!')" />
  </div>

</form>